.markdown-preview-view h1 {
  color: hsl(218, 40%, 47%);
}

.markdown-preview-view h2 {
  position: relative;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: hsl(218, 40%, 47%);
  font-style: italic;
}

.markdown-preview-view h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 2em;
  background-color: hsl(218, 63%, 77%);
}


.markdown-preview-view h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: hsl(218, 40%, 47%);
}


.markdown-preview-view {
  background-color: hsl(0, 0%, 100%);
  color: hsl(218, 33%, 18%);
}


/* Задаем текст для всех элементов таблиц и кода */
.markdown-preview-view table,
.markdown-preview-view th,
.markdown-preview-view td,
.markdown-preview-view pre,
.markdown-preview-view code {
  color: hsl(218, 33%, 18%) !important;
}

/* Задаем фон для таблиц, заголовков таблиц и блоков кода */
.markdown-preview-view table,
.markdown-preview-view thead tr,
.markdown-preview-view pre,
.markdown-preview-view code {
  background-color: hsl(218, 45%, 99%);
}

/* Фон для заголовка таблицы – такой же, как обводка */
.markdown-preview-view thead tr,
.markdown-preview-view thead th {
  background-color: hsl(218, 60%, 97%) !important;
}

/* Задаем обводку для таблиц, ячеек таблиц и блоков кода */
.markdown-preview-view table,
.markdown-preview-view th,
.markdown-preview-view td,
.markdown-preview-view pre {
  border: 0.5px solid hsl(218, 50%, 95%) !important;
  color: #555c68;
}
